body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffe6f2, #fff5fa);
    color: #4a4a4a;
    text-align: center;
}
h1{
    color: #ff66a3;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(255, 105, 180, 0.2);
}
h2 {
    color: #ff277d;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(255, 105, 180, 0.2);
}
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
}
