body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffe6f2, #fff5fa);
    color: #4a4a4a;
    text-align: center;
}
h1{
    color: #ff66a3;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(255, 105, 180, 0.2);
}
h2 {
    color: #ff277d;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(255, 105, 180, 0.2);
}
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px;
}
.producto {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(255, 105, 180, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.producto:hover {
    transform: translateY(-8px);
}
.producto img {
    width: 200px;
    height: 200px;
    object-fit: cover;   
    border-radius: 10px;
    margin: 0 auto 10px auto;
}
